<!--The content below is only a placeholder and can be replaced.-->

<!-- 表达式中的上下文变量是由模板变量、指令的上下文变量（如果有）和组件的成员叠加而成的。 
如果你要引用的变量名存在于一个以上的命名空间中，那么，模板变量是最优先的，其次是指令的上下文变量，最后是组件的成员。
The context for terms in an expression is a blend of the template variables, 
the directive's context object (if it has one), and the component's members. 
If you reference a name that belongs to more than one of these namespaces, 
the template variable name takes precedence, followed by a name in the directive's context, 
and, lastly, the component's member names. -->
<div style="text-align:center">
  <h1>
    Welcome to {{ title | exponentialStrength }}!
  </h1>
</div>
<nav>
  <a routerLink="/heroes">Heroes</a>
  <a routerLink="/dashboard">dashboard</a>
</nav>
<app-messages></app-messages>
<router-outlet></router-outlet>
<app-countdown-parent-lv></app-countdown-parent-lv>